<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
		PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
		"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<!-- classPathEntry:数据库的JDBC驱动,换成你自己的驱动位置 -->
	<classPathEntry location="C:\Users\admin\.m2\repository\com\microsoft\sqlserver\sqljdbc4\4.0\sqljdbc4-4.0.jar" />

	<context id="generatorTables" targetRuntime="MyBatis3">

		<!--<plugin type="org.mybatis.generator.plugins.MapperConfigPlugin">-->
		<!--<property name="fileName" value="mybatis-com.hsnn.datafetch.config.xml"/>-->
		<!--<property name="targetPackage" value="/"/>-->
		<!--<property name="targetProject" value="src/main/resources"/>-->
		<!--</plugin>-->

		<!-- 此处是将Example改名为Criteria 当然 想改成什么都行 -->
		<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
			<property name="searchString" value="Example"/>
			<property name="replaceString" value="Criteria"/>
		</plugin>

		<plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

		<!-- commentGenerator 去除自动生成的注释  -->
		<commentGenerator>
			<property name="suppressDate" value="true" />
		</commentGenerator>

		<!-- jdbcConnection是指定的jdbc的连接信息； -->
		<jdbcConnection
				driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
				connectionURL="jdbc:sqlserver://127.0.0.1:1433;DatabaseName=gsk"
				userId="sa"
				password="sa">
		</jdbcConnection>

		<!--
        默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer true，
        把JDBC DECIMAL 和 NUMERIC 类型解析为java.math.BigDecimal
        -->
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- javaModelGenerator是模型的生成信息，这里将指定这些Java model类的生成路径； -->
		<javaModelGenerator targetPackage="com.hsnn.datafetch.database.model" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<!-- sqlMapGenerator是mybatis 的sqlMapper XML文件的生成信息，包括生成路径等； -->
		<sqlMapGenerator targetPackage="com.hsnn.datafetch.database.mapper"
						 targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!-- javaClientGenerator是应用接口的生成信息； -->
		<javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.hsnn.datafetch.database.dao" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!--修改过自动生成文件-->
		<!--<table tableName="sys_log" domainObjectName="SysLog"></table>-->
		<!--<table tableName="sys_announcement" domainObjectName="SysAnnouncement"></table>-->
		<!--<table tableName="sys_announcement_annex" domainObjectName="SysannouncementAnnex"></table>-->
		<!--<table tableName="sys_announcement_img" domainObjectName="SysannouncementImg"></table>-->
		<!--<table tableName="sys_dictionary" domainObjectName="SysDictionary"></table>-->

		<!--未修改自动生成文件-->
		<!--<table tableName="sys_area" domainObjectName="SysArea"></table>-->
		<!--<table tableName="sys_message" domainObjectName="SysMessage"></table>-->
		<!--<table tableName="sys_message_read" domainObjectName="SysMessageRead"></table>-->

		<!--修改过自动生成文件-->
		<!--<table tableName="sys_permission" domainObjectName="SysPermission"></table>-->
		<!--<table tableName="bp_remind_setting" domainObjectName="BpRemindSetting"></table>-->
		<!--<table tableName="sys_roles_area" domainObjectName="SysRolesArea"></table>-->
		<!--<table tableName="sys_roles_permission" domainObjectName="SysRolesPermission"></table>-->
		<!--<table tableName="sys_user" domainObjectName="SysUser"></table>-->
		<!--<table tableName="sys_user_role" domainObjectName="SysUserRole"></table>-->

		<!--修改过自动生成文件-->
		<!--<table tableName="oa_approval" domainObjectName="OaApproval"></table>-->
		<!--<table tableName="oa_approval_item" domainObjectName="OaApprovalItem"></table>-->
		<!--<table tableName="oa_approval_item_log" domainObjectName="OaApprovalItemLog"></table>-->
		<!--<table tableName="oa_approval_log" domainObjectName="OaApprovalLog"></table>-->
		<!--<table tableName="oa_approval_node" domainObjectName="OaApprovalNode"></table>-->
		<!--<table tableName="oa_approval_record" domainObjectName="OaApprovalRecord"></table>-->

		<!--未修改自动生成文件-->
		<!--<table tableName="mgr_policy_remote" domainObjectName="MgrPolicyRemote"></table>-->
		<!--<table tableName="mgr_proj_task" domainObjectName="MgrProjTask"></table>-->
		<!--<table tableName="mgr_proj_task_attach" domainObjectName="MgrTaskAttach"></table>-->
		<!--<table tableName="mgr_proj_tasklog" domainObjectName="MgrProjTaskLog"></table>-->
		<!--<table tableName="mgr_task_execution" domainObjectName="MgrProjTaskExecution"></table>-->


		<!--dt,dc需确认-->
		<!--<table tableName="sys_message" domainObjectName="SysMessage"></table>-->
		<!--<table tableName="sys_message_fail" domainObjectName="SysMessageFail"></table>-->
		<!--<table tableName="sys_message_push" domainObjectName="SysMessagePush"></table>-->
		<!--<table tableName="sys_config" domainObjectName="SysConfig"></table>-->

		<!--未修改自动生成文件-->
		<!--<table tableName="BpArticleattach" domainObjectName="bp_articleattach"></table>-->
		<!--<table tableName="BpArticleRead" domainObjectName="bp_article_read"></table>-->
		<!--<table tableName="bp_standard_task" domainObjectName="BpStandardTask"></table>-->

		<!--修改过自动生成文件-->
		<!--<table tableName="qm_img" domainObjectName="QmImg"></table>-->
		<!--<table tableName="qm_price" domainObjectName="QmPrice"></table>-->
		<!--<table tableName="qm_qyxx" domainObjectName="QmQyxx"></table>-->
		<!--<table tableName="qm_qyzzxx" domainObjectName="QmQyzzxx"></table>-->
		<!--<table tableName="qm_ypdet" domainObjectName="QmYpdet"></table>-->
		<!--<table tableName="qm_ypxx" domainObjectName="QmYpxx"></table>-->
		<!--<table tableName="qm_ypzzgx" domainObjectName="QmYpzzgx"></table>-->
		<!--<table tableName="qm_ypzzxx" domainObjectName="QmYpzzxx"></table>-->
		<!--<table tableName="qm_zzlx" domainObjectName="QmZzlx"></table>-->

		<!-- 新設計的表 -->
		<!--<table tableName="sys_log_login" domainObjectName="SysLogLogin"></table>-->
		<!--<table tableName="sys_log_module" domainObjectName="SysLogModule"></table>-->
		<!--<table tableName="sys_log_page" domainObjectName="SysLogPage"></table>-->
		<!--<table tableName="sys_log_push" domainObjectName="SysLogPush"></table>-->
		<!--<table tableName="sys_user_area" domainObjectName="SysUserAreaService"></table>-->
		<!--<table tableName="dt_drug" domainObjectName="DtDrug"></table>-->
		<!--<table tableName="qm_zzxx" domainObjectName="QmZzxx"></table>-->
		<!--<table tableName="qm_zzxx_yp_gx" domainObjectName="QmZzxxYpGx"></table>-->

		<!-- 将旧的表注释掉，再生成新文件 -->
		<!-- table是用户指定的被生成相关信息的表，它必须在指定的jdbc连接中已经被建立。 -->
		<!--<table tableName="qm_attach" domainObjectName="QmAttach"></table>-->
		<!--<table tableName="bp_web_collection" domainObjectName="BpWebCollection" ></table>-->
		<!--<table tableName="bp_article" domainObjectName="BpArticle" ></table>-->
		<!--<table tableName="bp_article_content" domainObjectName="BpArticleContent" ></table>-->
		<!--<table tableName="bp_article_content" domainObjectName="BpArticleContent" ></table>-->
		<!--<table tableName="bp_article" domainObjectName="BpArticle" ></table>-->
		<!--<table tableName="qm_zzxx_qy_kz" domainObjectName="QmZzxxQyKz" ></table>-->
		<!--<table tableName="dt_drug_price" domainObjectName="DtDrugPrice" ></table>-->

		<table tableName="tsk_token" domainObjectName="TskToken" ></table>
	</context>
</generatorConfiguration>  